.maxed{
    max-width: 1400px !important;
    margin: auto;
}

*{
    --primary-color: #E3712F;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bellota Text', cursive;
}

h3{
    font-family: 'Rakkas', cursive;
}

.primary-text{
    color: var(--primary-color);
}



/* SWIPER */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-slider{
    margin-right: -4% !important;
    z-index: 10 !important;
    position: relative;
  }

  /* plane */


  .plane{
    background: url(/img/plane.png) no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: -20%;
    overflow: hidden;
    width: 95%;
    height: 100%;
  }


  /* HEADER FOOTER */

ul,a{
    list-style: none;
    text-decoration: none;
    color: #000;
}

.container{
    max-width: 1440px;
    padding: 0 50px;
}
nav{
    box-shadow: 0px 1px 7px -5px rgba(0,0,0,0.75);
}
header nav .bottom-header .navmenu ul {
    list-style: none;
}
header nav .bottom-header .navmenu ul li a{
    text-decoration: none;
    color: #000;
}
footer .bottom-footer .leftside .email-form {
    display: flex;
    flex-direction: column;
}
footer .bottom-footer .leftside .email-form input {
    padding: 10px;
}
footer .bottom-footer .leftside{
    padding: 10px 30px;
}
footer .bottom-footer .leftside p{
    padding: 10px 30px 10px 0;
}
footer .bottom-footer .leftside h3{
    color: #E3712F;
}
footer .bottom-footer .leftside .email-form button {
    padding: 5px 30px;
    width: 150px;
    border-radius: 0;
    margin-top: 10px;
}
footer .bottom-footer .rightside h4 {
    color: #E3712F;
    
}
 footer .last-footer .text-footer {
    display: flex;
    justify-content: space-between;
}
footer .last-footer .text-footer  img{
    height: 40px;
}


/* HEADER TOGGLE RESPONSIVE */

.toggle-btn{
  z-index: 1000 !important;
  display: none;
}

.phone-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 100vh;
  z-index: 100 !important;
  display: none;
}

.phone-nav ul{
  margin-top: 30%;
}

.active{
  display: block;
}

/* CONTACT CSS */

.contact-us .heading h2 , .contat-text h2{
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact-us .heading h2 span,.contat-text h2 span{
  color: #E3712F;
}
.Contact .contact-map iframe {
  border: 10px solid #E3712F !important;
}
.Contact .contat-text p {
  padding: 10px 30px 10px 0;
  width: fit-content;
  letter-spacing: 5px;
  word-spacing: 30px;
}
.Contact .contat-text2 {
  border-top: 3px dashed #9f9999;
}
.request .callback-req .request-text h2 {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
}
.request .callback-req .request-text h2 span {
  color: #E3712F;
}
.request form input {
  margin-bottom: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E3712F;
  color: #000;
}
.request form input a {
  font-size: 36px;
  font-weight: 400;
}

/* OTHER CSS ABOUT CSS */

.main .section .showcase img {
  width: 100%;
  object-fit: cover;
}
.main .section .showcase {
  position: relative;
}
.main .section .showcase .about-us {
  background: rgb(227 207 207 / 58%);
  width: 300px;
  padding: 10px 30px;
  position: absolute;
  left: 70px;
  bottom: 110px;
  transform: translate(10px, 10px);
}
.main .section .showcase .about-us .flight {
  background: #E3712F;
  padding: 0px 10px;
  width: fit-content;
}
.main .section .showcase .about-us h2 {
  color: #fff;
  letter-spacing: 2.65px;
  font-weight: 300;
}
.main .section .showcase .about-us .flight p {
  letter-spacing: 1.65px;
  color: #fff;
  line-height: 30px;
}
@media (max-width:992px ){
  .main .section .showcase .about-us {
      width: 250px;
      padding: 5px 15px;
      left: 40px;
      bottom: 60px;
  }
}
@media (max-width:768px ) {
  .main .section .showcase .about-us {
      width: 230px;
  padding: 5px 10px;
  left: 20px;
  bottom: 35px;
  }
}
@media (max-width:576px ) {
  .main .section .showcase .about-us {
      display: none;
  }
}

/* ABOUT CSS ENDS HERE */

@media(max-width: 1024px){
  .main-slider{
    margin: 10px;
    margin-right: 4%;
  }

  .plane{
    display: none;
  }

  .desk-nav{
    display: none;
  }

  .toggle-btn{
    display: block;
  }

  h1{
    font-size: 20px;
  }
  h4{
    font-size: 18px;
  }

  p{
    font-size: 14px;
  }
}

